<div class="container">
  <div class="wrapper">
    <h1 class="prof">プロフィール</h1>
    <div class="el-card_body">
      <div class="form-menu">
        <%= form_with scope: :user, url: user_path(@user), local: true, method: :patch do |f| %>

        <div class="field">
          <%= f.label :name, "ユーザー名" ,class: "form-menu-label"%><br />
          <%= f.text_field :name, class: "nickname" %>
        </div>

        <%# if @user.profile_photo? %>
        <%#= image_tag @user.image.url %>
        <%# else %>
        <%#= image_tag "profile.png", class: "prof-img" %>
        <%# end %>

        <%#= form_with model: @user do |image| %>
        <%#= image.file_field :profile_photo %>
        <%#= image.submit 'アップロードする' ,class: "btn btn-secondary"%>
        <%# end%>

        <div class="form-self_introductioneld">
          <%= f.label :self_introduction, "自己紹介" ,class: "form-menu-label"%><br />
          <%= f.text_area :self_introduction,  size: "30x10", class: "el-textarea" %>
        </div>

        <div class="field">
          <%= f.label :twitter_account, "Twitterアカウントを登録する" ,class: "form-menu-label"%><br />
          <%= f.text_field :twitter_account %>
        </div>
        <div class="field">
          <%= f.label :github_account, "GitHubアカウントを登録する" ,class: "form-menu-label"%><br />
          <%= f.text_field :github_account %>
        </div>
      </div>
    </div>
    <%=f.submit "保存",  class: "btn btn-primary"%>
    <% end %>
  </div>