<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <li class="nav navbar-nav nav-item active">
        <%= link_to "PROG CAMP", :root, class: "nav navbar-nav nav-link" %>
      </li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to "プロフィールを変更", edit_user_registration_path, class: "nav-link" %></li>
      <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
      <% else %>
      <li><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>